h1{
    font-family:"Preahvihear",sans-serif;
    text-align: center;
    font-size: 3.5rem;
}
p{
    font-family:"Jura",sans-serif;
    text-align: center;
    text-justify:center;
    font-size:35px;
    border:3px solid black;
    border-width:5px;
    width:80%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: powderblue;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}
@media screen and(max-width:700px){
    p{
        font-size: 15px;
    }
    h1{
        font-size: 20%;
    }
}
    

body{
    background-color: dodgerblue;
}
.tfh {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: powderblue;
    border: 5px solid black;
    border-radius: 15px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

button {
    font-size: 18px;
    padding: 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height:150px ;
    width:150px;
    text-align: center;
    justify-content: center;
    font-family: "Preahvihear",sans-serif;
    


}

button:hover {
    background-color: rgb(156, 227, 255);
}